<h2>プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="edit-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder=>'メールアドレス' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="edit-field">
    <%= f.label :place %><br />
    <%= f.text_field :place, autofocus: true, autocomplete: "place" %>
  </div>

  <div class="edit-field">
    <%= f.label :icon %><br />
    <%= f.file_field :icon, autofocus: true, autocomplete: "icon" %>
  </div>

  <div class="edit-field">
    <%= f.label :about_me %><br />
    <%= f.text_area :about_me, autofocus: true, autocomplete: "about_me" %>
  </div>

  <div class="edit-field">
    <%= f.label :password %> <i>(新しいパスワード)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="edit-field">
    <%= f.label :password_confirmation %> <i>(新しいパスワード)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="edit-field">
    <span class="required">*</span><%= f.label :current_password %> <i>(変更には現在のパスワードが必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "確定" %>
  </div>
<% end %>

<div class="delete-account-button"><%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
