<h1>
  <% if @user.icon.present? %>
    <div id="show-user_img"><%= image_tag @user.icon.url %></div>
  <% else %>
    <div id="show-user_img"><%= image_tag 'noimage.jpg' %>
  <% end %>
  <%= @user.name %>さんのページ
</h1>
<p>地域：<%= @user.place %></p>
<p>自己紹介：<%= @user.about_me %></p>
<% if @user == current_user %>
  <%= link_to '編集', edit_user_registration_path(@user.id) %>
<% end %>
<p><button type="button" class="btn btn-outline-warning"><%= link_to 'メッセージ', user_path %></button></p>
<p>過去の料理一覧</p>
<p class="image-list">
  <div class="container">
    <div class="row">
      <% @images.each do |img| %>
        <div class="dish"><%= image_tag img.image.url %></div>
        <% if @user == current_user %>
          <%= link_to '削除', page_path(img.id), method: :delete, data: {confirm: '本当に削除しますか？'} %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <% if @user == current_user %>
      <button type="button" class="btn btn-outline-info"><%= link_to '追加', new_image_path %></button>
    <% end %>
  </div>
</p>
