<%= form_with(model: @dish, local: true, url: choose_new_or_edit) do |form| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= @dish.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @dish.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dish_form">
    <%= form.text_field :name, :placeholder=>'料理名' %>
  </div>

  <div class="dish_form">
    <%= form.text_field :transaction_place, :placeholder=>'大まかな取引希望場所' %>
  </div>

  <div class="dish_form">
    <%= form.date_select :date, :placeholder=>'募集期間' %>まで
  </div>

  <div class="dish_form">
    <%= form.text_field :tip, :placeholder=>'チップ' %>円〜
  </div>

  <div class="dish_form">
    <%= form.text_field :comment, :placeholder=>'コメント' %>
  </div>

  <%= form.submit %>
<% end %>
