<h3>以下の内容で投稿する</h3>

<%= form_with(model: @dish, url: dishes_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :time %>
  <%= form.hidden_field :tip %>
  <%= form.hidden_field :comment %>

  <p>料理名<%= @dish.name %></p>
  <p>募集期間<%= @dish.time %></p>
  <p>チップ<%= @dish.tip %></p>
  <p>コメント<%= @dish.comment %></p>
  <%= form.submit "投稿" %>
<% end %>

<%= form_with(model: @dish, url: new_dish_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :time %>
  <%= form.hidden_field :tip %>
  <%= form.hidden_field :comment %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
