<p>検索 🔍</p>

<h1>投稿一覧</h1>


<p>
<% @dishes.each do |dish| %>
  <ul>
    <li><%= dish.user.name %></li>
    <li><h3><%= dish.name %></h3></li>
    <li>地域：<%= dish.user.place %></li>
    <li>募集期間：<%= dish.time %></li>
    <li>チップ：<%= dish.tip %>円〜</li>
  </ul>
  <%= link_to '詳細', dish_path(dish.id) %>

<% end %>
</p>
