<!DOCTYPE html>
<html>
  <head>
    <title>Osusowake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
    <hedder class="header">
      <ul class="header-ul">
        <% if user_signed_in? %>
          <li class="header-li"><div class="link"><%= link_to 'Top', root_path %></div></li>      
          <li class="header-li"><div class="link"><%= link_to 'home', dishes_path %></div></li>
          <li class="header-li"><div class="link"><%= link_to '募集', new_dish_path %></div></li>
          <li class="header-li"><div class="link"><%= link_to "Profile", page_path(current_user.id) %></div></li>
          <li class="header-li"><div class="link"><%= link_to "Logout",  destroy_user_session_path, method: :delete %></div></li>
        <% else %>
          <li class="header-li"><div class="link"><%= link_to "Sign up", new_user_registration_path %></div></li>
          <li class="header-li"><div class="link"><%= link_to "Login", new_user_session_path %></div></li>
        <% end %>
      </ul>
    </hedder>
    <%= yield %>
    <div class="push"></div>
    </div>
    <footer>
      <p>©︎2018 osusowake</p>
    </footer>
  </body>
</html>
